<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%-5p][%thread] %C.%M\(%L\) - %m%n
            </pattern>
        </layout>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/logs/connectionpool.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/logs/connection-pool.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%-5p][%thread] %C.%M\(%L\) - %m%n
            </pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="WARN"/>

    <root level="debug">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
    </root>

</configuration>